*{
    margin:5px;
    padding:0;
}
header{
    background-color: rgba(31, 30, 30, 0.915);
    color:white;
    padding:20px ;
    height:150px;
}
.profile-container{
    display: flex;
    justify-content: flex-end;
}
.profile{
    width:50px;
    height:50px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav a{
    text-decoration: none;
    color: white;
}
.section{
    margin-top:20px;
}
.head{
    margin-bottom:20px;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section img{
    width:700px;
    height:350px;
}
.course{
    display:flex;
    justify-content: space-between;
    margin:30px;
}
table,th,td{
    border:1px solid;
    font-size: 1.2rem;
}
.course-schedule h2,.course-overview h2{
    margin-bottom: 15px;
}
.course-overview{
    font-size: 1.2rem;
}

.course-overview ul{
    padding-top:10px;
    padding-left:35px;
}
footer{
    background-color: rgb(62, 56, 56);
    text-align: center;
    color: white;
}
